.project {
  padding: 100px 0 120px;
}

.project__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 10px; /* 그리드 간의 간격 */

  max-width: 1200px;
  margin: 0 auto;

  border-top: 3px solid rgb(255, 255, 0);
}

.project__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  width: 500px;
  height: 300px;

  margin-bottom: 30px; /* 각 프로젝트 사이에 충분한 간격 추가 */
  margin-top: 50px;
}

.project__img {
  width: 200px;
  margin-bottom: 10px; /* 이미지와 그 아래 내용 간격 추가 */
}

.project__img > img {
  width: 100%;
}

.project__tit {
  font-size: 25px;
  font-weight: 700;
}

.project__sub {
  font-size: 15px;
  line-height: 2;
}

.project__btn {
  margin-top: 20px;
  width: 100px;
}

.project__container {
  position: relative; /* 이 부분이 중요 */
  cursor: pointer;
}

.project__description {
  position: absolute; /* 이미지 위에 고정 */
  top: 0; /* 이미지의 상단에 붙이기 */
  left: 50%;
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  width: 100%; /* 창의 너비 80% */
  background-color: rgb(46 46 42 / 80%);
  color: white;
  padding: 30px;
  border-radius: 10px; /* 둥근 모서리 */
  z-index: 999; /* 다른 요소 위에 표시 */
  overflow-y: auto; /* 내용이 많으면 스크롤 */
}

.project__description .p .project__tit,
.project__sub {
  margin-top: 10px; /* 타이틀과 설명 위쪽에 간격 추가 */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}

.project__tit span,
.project__sub span {
  display: block; /* 각 텍스트를 한 줄로 배치 */
  margin-bottom: 8px; /* 각 줄 간격 */
}

.project__tit span,
.project__sub span {
  display: block; /* 각 텍스트를 한 줄로 배치 */
  margin-bottom: 8px; /* 각 줄 간격 */
}

.project__description.show {
  display: block; /* 보일 때 설정 */
}
