.study {
  display: flex;
  flex-direction: column;
  gap: 50px;

  padding: 80px 0 120px;

  width: 1200px;
  margin: 0 auto;

  border-top: 3px solid rgb(255, 255, 0);
}

.study > h2 {
  font-size: 40px;
  font-weight: bold;
}

.study__continer {
  display: flex;
  gap: 500px;
  text-align: center;
}

.study__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
}

.study__album {
  margin-bottom: 20px;

  width: 200px;
  height: 200px;
}

.study__album > img {
  width: 100%;
  height: 100%;
}

.study__tit {
  margin-top: 20px;
  font-size: 20px;
}
